# Dependencies
node_modules
npm-debug.log

# Environment
.env
.env.*
!.env.example

# Git
.git
.gitignore
.github

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Testing
coverage
.nyc_output

# Documentation
README.md
docs

# Docker
Dockerfile
.dockerignore
docker-compose.yml
